<div class="container">
<h1>Comments</h1>
<%=render 'comment_form' %>
<ul>
  <% for comment in @comments %>
  <li id="comment_<%= comment.id %>"><%= comment.title %>
    | <%= link_to 'Edit', edit_comment_path(comment) %>
    | <%= link_to 'Delete', comment, :method => 'delete' %>
  </li>
  <% end %>
</ul>
