<%=render :partial => 'layouts/navbar' %>
<%= form_for @link do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.label :url %>
<%= f.text_field :url %>
<%= f.submit %>
<% end %>
<% for link in @links %>
<li id="link_<%= link.id %>"><%= link.title %> |
  <%= link.url %> |
  <%= link_to 'Delete', link, :method => 'delete' %> </li>
<% end %>
